:root,
:host {}



.pk-picker-view {
    &__content {}

    &__column {
        overflow: hidden;
        background: red;
    }

    &__wrapper {}

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}