:root,
:host {}



@namespace: pk-picker-column;

.@{namespace} {
    overflow: hidden;

    &__wrapper {
        .@{namespace}__item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}