:root,
:host {
    --pk-field-margin: var(--pk-margin-m);
    --pk-field-padding: var(--pk-padding-m);
    --pk-filed-font-size: var(--pk-font-size-m);
    --pk-filed-text-color-secondary: var(--pk-text-color-secondary);
    --pk-filed-text-color: var(--pk-text-color);
    --pk-field-tip-text-color: var(--pk-error-color);
}

@namespace: pk-field;
@cell-namespace: pk-cell;

.@{namespace} {

    .@{cell-namespace}__content {
        flex: 3;

        .@{cell-namespace}__value {
            padding: 0;
            -webkit-tap-highlight-color: transparent;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        flex: 1;

        .@{namespace}__wrapper {
            flex: 1;
            display: flex;
            align-self: stretch;
            position: relative;
            align-items: center;

            .@{namespace}__input__container {
                display: flex;
                flex: 1;
                justify-self: stretch;
                justify-content: flex-end;
                // .@{namespace}__placeholder {
                //     position: absolute;
                //     left: 0;
                //     top: 50%;
                //     transform: translateY(-50%);
                //     color: var(--pk-filed-text-color-secondary);
                // }

                .@{namespace}__input {
                    border: none;
                    flex: 1;
                    justify-self: stretch;
                    font-size: var(--pk-filed-font-size);
                    outline: none;
                    color: var(--pk-text-color);
                    background: transparent;

                    &::placeholder {
                        color: var(--pk-filed-text-color-secondary);
                        font-size: var(--pk-filed-font-size);
                        line-height: 1;
                    }

                    &:disabled {
                        background: transparent;
                    }

                }

                .@{namespace}__textarea {
                    resize: none;
                    box-sizing: border-box;
                    background: transparent;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                &.@{namespace}--margin {
                    margin-right: var(--pk-field-margin);
                }


                &.@{namespace}--left {
                    justify-content: flex-start;
                }

                &.@{namespace}--center {
                    justify-content: center;
                }

                &.@{namespace}--right {
                    justify-content: flex-end;
                }
            }

            .@{namespace}__button {
                margin: 0 var(--pk-field-margin);
            }
        }
    }

    &__tip {
        color: var(--pk-field-tip-text-color);
    }

    &--vertical {
        .@{cell-namespace}__content {
            .@{namespace}__wrapper {
                justify-content: flex-start;

                .@{namespace}__input__container {
                    .@{namespace}__input {
                        padding: 0;
                    }
                }
            }
        }
    }

    &--center {
        .@{cell-namespace}__title {
            text-align: center;
        }
    }

    &--right {
        .@{cell-namespace}__title {
            text-align: right;
        }
    }
}