:root,
:host {
    --switch-height-s: 20px;
    --switch-height-m: 26px;
    --switch-height-l: 32px;
    --switch-width: 60px;
    --switch-inactive-background: #b9bec5;
    --switch-active-background: var(--pk-primary-color);
    --switch-transition-duration: .3s;
    --switch-transition-fn: cubic-bezier(0.07, 1.04, 0.7, 0.9);
    --switch-disabled-opacity: var(--pk-disabled-opacity);
    --switch-loading-size: 20px;
}

@namespace: pk-switch;

.@{namespace} {
    width: var(--switch-width);
    border-radius: 9999999px;
    background: var(--switch-inactive-background);
    overflow: hidden;
    padding: var(--pk-border-width-l);
    transition: background var(--switch-transition-duration) var(--switch-transition-fn);
    position: relative;

    &__slide {
        background: var(--pk-bg-color);
        border-radius: 100%;
        position: absolute;
        left: var(--pk-border-width-l);
        top: var(--pk-border-width-l);
        transition: left var(--switch-transition-duration) var(--switch-transition-fn);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .@{namespace}__loading {
            --pk-loading-size: var(--switch-loading-size);
        }
    }

    &__wrapper {
        // position: absolute;
        // top: 50%;
        // transform: translate(0, -50%);
        // display: flex;
        // align-items: center;
        // width: max-content;

        .@{namespace}__close {}

        .@{namespace}__open {}
    }

    &--active {
        background: var(--switch-active-background);
    }

    &--s {
        height: var(--switch-height-s);

        .@{namespace}__slide {
            width: var(--switch-height-s);
            height: var(--switch-height-s);
        }

        &.@{namespace}--active {
            .@{namespace}__slide {
                left: calc(100% - var(--switch-height-s) - var(--pk-border-width-l));
            }
        }
    }

    &--m {
        height: var(--switch-height-m);

        .@{namespace}__slide {
            width: var(--switch-height-m);
            height: var(--switch-height-m);
        }

        &.@{namespace}--active {
            .@{namespace}__slide {
                left: calc(100% - var(--switch-height-m) - var(--pk-border-width-l));
            }
        }
    }

    &--l {
        height: var(--switch-height-l);

        .@{namespace}__slide {
            width: var(--switch-height-l);
            height: var(--switch-height-l);
        }

        &.@{namespace}--active {
            .@{namespace}__slide {
                left: calc(100% - var(--switch-height-l) - var(--pk-border-width-l));
            }
        }
    }

    &--disabled {
        opacity: var(--pk-disabled-opacity);
        cursor: not-allowed;
    }
}