@import '../../theme/index.less';

@pk-loading-size: 60rpx;
@pk-loading-color: currentColor;
@pk-loading-animation-duration: @pk-animation-duration;
@pk-loading-text-size: @pk-font-size-s;
@pk-loading-text-color: inherit;
@pk-loading-margin: @pk-margin-s;

@namespace: pk-loading;

.@{namespace} {
    position: relative;
    color: @pk-loading-text-color;
    font-size: 0;
    vertical-align: middle;
    display: flex;
    align-items: center;

    &--vertical {
        flex-direction: column;
        justify-content: center;

        .@{namespace}__icon {
            margin: @pk-loading-margin 0;
        }
    }

    &__text {
        font-size: @pk-loading-text-size;
        color: currentColor;
    }

    &__icon {
        margin: 0 @pk-loading-margin;
        color: @pk-loading-color;

        .@{namespace}__spinner {
            position: relative;
            display: inline-block;
            width: @pk-loading-size;
            height: @pk-loading-size;
            vertical-align: middle;
            animation: pk-rotate @pk-loading-animation-duration linear infinite;
        }

        .@{namespace}__line {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &::before {
                content: ' ';
                background-color: currentColor;
                display: block;
                width: 4rpx;
                height: 30%;
                margin: 0 auto;
            }

            .generate-spinner(@n, @i: 1) when (@i =< @n) {
                &--@{i} {
                    transform: rotate(@i * 45deg);
                    opacity: (0.125 * @i);
                }

                .generate-spinner(@n, (@i + 1));
            }

            .generate-spinner(12);
        }

        .@{namespace}__circle {
            width: @pk-loading-size;
            height: @pk-loading-size;
            position: relative;
            animation: pk-rotate @pk-loading-animation-duration ease-in-out infinite;
        }

        .@{namespace}__circle1 {
            animation: circle1 calc(@pk-loading-animation-duration* 1.5) ease-in-out infinite;
            border: currentColor 4rpx solid;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            box-sizing: border-box;

            @keyframes circle1 {
                0% {
                    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
                }

                25% {
                    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
                }

                50% {
                    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
                }

                75% {
                    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
                }

                100% {
                    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
                }
            }
        }

        .@{namespace}__circle2 {
            animation: circle2 calc(@pk-loading-animation-duration* 2.5) linear infinite;
            border: currentColor 4rpx solid;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            height: 50%;
            border-radius: 100%;
            box-sizing: border-box;
            transform: translate(-50%, -50%);

            @keyframes circle2 {
                0% {
                    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
                }

                50% {
                    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
                }

                75%,
                100% {
                    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
                }
            }
        }
    }
}