:root,
:host {
    --pk-progress-stroke-height: 3px;
    --pk-progress-track-background: var(--pk-border-color);
    --pk-progress-stroke-background: var(--pk-primary-color);
    --pk-progress-transition-duration: var(--pk-transition-duration);
}

@namespace: pk-progress;

.@{namespace} {
    width: 100%;
    height: var(--pk-progress-stroke-height);
    background: var(--pk-progress-track-background);
    border-radius: 99999px;
    position: relative;

    &--square {
        border-radius: 0;

        .@{namespace}__stroke {
            border-radius: 0;
        }
    }

    &__stroke {
        left: 0;
        height: 100%;
        border-radius: 99999px;
        background: var(--pk-progress-stroke-background);
        transition-property: width;
        transition-duration: var(--pk-progress-transition-duration);
        transition-timing-function: var(--pk-transition-timing-function-in);
    }
}