:root,
:host {
    --pk-toast-position-top-distance: 5%;
    --pk-toast-position-bottom-distance: 5%;
    --pk-toast-background: var(--pk-toast-bg-color);
    --pk-toast-padding-s: var(--pk-padding-s);
    --pk-toast-padding-l: var(--pk-padding-l);
    --pk-toast-border-radius: var(--pk-radius-m);
    --pk-toast-font-size: var(--pk-font-size-xs);
}

@namespace: pk-toast;

.@{namespace} {
    position: fixed;
    background: var(--pk-toast-background);
    padding: var(--pk-toast-padding-s) var(--pk-toast-padding-l);
    border-radius: var(--pk-toast-border-radius);
    left: 50%;
    transform: translateX(-50%);
    max-width: 70vw;

    &--loading {
        padding: var(--pk-toast-padding-l) calc(var(--pk-toast-padding-l) * 3);
    }

    &__icon {
        padding: var(--pk-padding-s);
        display: flex;
        justify-content: center;
    }

    &__text {
        color: var(--pk-toast-text-color);
        font-size: var(--pk-toast-font-size);
        text-align: center;
    }


    &--top {
        top: var(--pk-toast-position-top-distance);
    }

    &--bottom {
        bottom: var(--pk-toast-position-top-distance);
    }

    &--center {
        width: max-content;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}